#torch==2.5.1
tensorrt==10.6.0
torchvision
opencv-python==4.5.5.64
onnx
onnxruntime-gpu
diffusers==0.27.0
transformers==4.32.1
decord==0.6.0
omegaconf
einops
matplotlib
accelerate
huggingface-hub==0.25.2
numpy==1.24.3
